.snippets-documentation-table{
    border-collapse: collapse;
}
.snippets-documentation-table tr {
    border-radius: 5px;
}
.snippets-documentation-table td {
    padding: 10px;
}
.snippets-documentation-table tbody>tr:nth-child(odd){
    background-color: #766cad;
}