#main-title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 50px;
    border-radius: 50%;
}

.main-heading {
    color: var(--color-30-primary);
    display: inline;
}